body{
    background-color: rgb(55, 71, 101);
}

.container{
    border-collapse: collapse;
    margin: 23px auto;
}

th,tr,td{
    background-color:  #eeeeee;
    box-shadow: inset -5px 0 5px -5px rgba(0, 0, 0, 0.27);
}


.th-grey{
    background-color:  #fafafa;
    font-family: Arimo,sans-serif;
    color:  #484848;
    font-size: 18px;
    font-weight: 700;
    width: 310px;
    height: 70px;
    vertical-align: middle;
}

.th-grey-style{
    font-family: Arimo,sans-serif;
    color:  #484848;
    font-size: 30px;
    font-weight: 700;

}

.th-green{
    background-color:  #89c331;
    width: 277px;
    height: 70px;
    vertical-align: middle;
    font-family: Arimo,sans-serif;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;

}

.th-red{
    background-color:  #f04a56;
    width: 277px;
    height: 70px;
    vertical-align: middle;
    font-family: Arimo,sans-serif;
    color:  #ffffff;
    font-size: 30px;
    font-weight: 700;

}

.th-blue {
    background-color: #20807c;
    width: 277px;
    height: 70px;
    vertical-align: middle;
    font-family: Arimo, sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
}

.price{
    background-color:  #fafafa;
    position: relative;
    font-family: Arimo,sans-serif;
    color:  #484848;
    font-size: 60px;
    font-weight: 700;
    text-align: left;
    padding: 18px 33px;
}

.price:after{
    content: ".99";
    position: absolute;
    top: 22px;
    left: 133px;
    font-family: Arimo,sans-serif;
    color:  #484848;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.price-details {
    font-family: Arimo, sans-serif;
    color: #484848;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}



.tf-btn-1{
    background-color: rgb(222, 222, 222);
    height: 110px;
    line-height: 110px;
    text-align: center;
}

.tf-btn-2{
    background-color: rgb(238, 238, 239);
    height: 110px;
    line-height: 110px;
    text-align: center;
}

.tf-btn-3{
    background-color: rgb(244, 244, 244);
    height: 110px;
    line-height: 110px;
    text-align: center;
}

.button-grey{
    border-radius: 5px;
    background-color:  #484848;
    width: 192px;
    height: 49px;
    font-family: Arimo,sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding: 19px 44px 17px 45px;
}

.button-green{
    border-radius: 5px;
    background-color:  #89c331;
    width: 192px;
    height: 49px;
    font-family: Arimo,sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding: 19px 42px 17px 43px;

}

.button-red{
    border-radius: 5px;
    background-color:  #f04a56;
    width: 192px;
    height: 49px;
    font-family: Arimo,sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding: 19px 42px 17px 43px;
}

.button-blue{
    border-radius: 5px;
    background-color:  #20807c;
    width: 192px;
    height: 49px;
    font-family: Arimo,sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding: 19px 42px 17px 43px;
}

.table-body{
    font-family: Arimo,sans-serif;
    color:  #484848;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 277px;
    height: 69px;
    line-height: 69px;
    vertical-align: middle;
}

.tb-first-string{
    background-color: #f2f2f2;
}

.tb-second-string{
    background-color: #e3e3e3;
}

.fas{
    font-family: FontAwesome,sans-serif;
    color:  #848484;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-right: 12px;
}

.far{
    font-family: FontAwesome,sans-serif;
    color:  #848484;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-right: 12px;
}